
@{
    ViewData["Title"] = "Register User";
}

@model  TrackDr.Models.Parent 
 
<h1>Additional Information</h1>

<form action="/Home/RegisterUser" method="post">

    <p>@Html.ValidationSummary(false,"",new { @class = "text-danger" })</p>
    <input type="text" name="HouseNumber" placeholder="House Number" style="margin:5px"/><br />
    <input type="text" name="Street" placeholder="Street" style="margin:5px"/><br />
    <input type="text" name="Street2" placeholder="Street" style="margin:5px"/><br />
    <input type="text" name="City" placeholder="City" style="margin:5px"/><br />
    <div class="select" style="width: 188px; margin:5px">
        @Html.DropDownListFor(m => m.State, new SelectList(Enum.GetValues(typeof(Parent.StateAbbreviations))), "State", new { @class = "form-control" })
    </div>
    <input type="text" name="ZipCode" placeholder="Zip Code" style="margin:5px"/><br />
    <input type="submit" value="Submit" />
</form>